h1{
    text-align: center;
    border: 1px solid black;   
    padding: 10px;    
    background-color: rgb(192, 168, 168);
    color: white;
    margin-top: 50px;
    text-transform: capitalize;
}
form{
    border: 1px solid rgb(46, 40, 40);
    padding: 50px;
    background-color:  rgb(230, 216, 216);
    text-transform: capitalize;
    color: black;
    text-align: center;
}
/* list design */
h2{
    text-transform: capitalize;
    text-align: center;
    display: inline-block;
    border: 1px solid black;
    padding: 10px;
    width: 100%;
    background-color: #0000ff1c;
}
.list_add_button{
    margin-left: 86%;
    text-transform: capitalize;
    font-weight: bolder;
}

.data_list{
    width: 100%;
    text-align: center;
    margin-top: 1%;
    background-color: #0000ff1c;
    border: 1px solid black;
}
